body {
    text-align: center;
    
}
#cim {
    background-color: rgb(89, 52, 27);
    position: absolute;
    color: white;

}

#masikcim {
 background-color: #999999;
 text-align: center;
}
table {
    background-color: #999999;
}

#harom {
    text-align: left;
}

 #negy {

     float: inline-end;
 }

 p {
     width: 1000px;
 }