body {
    text-align: center;
    
 }
#cim {
    background-color: rgb(89, 52, 27);
    position: absolute;
    color: white;

}

#masikcim {
 background-color: #999999;
 text-align: center;
 height: 80px;
}
table {
    background-color: #999999;
}

#harom {
    text-align: left;
}

 #negy {

     float: left;
     position: relative;
 }

 p {
     width: 1000px;
 }

 #bal {
     text-align: left;
 }

 #kozepre {
     text-align: center;
     width: 1000px;
 }