body {
    text-align: center;
    width: 50%;
    
 }
#cim {
    background-color: rgb(89, 52, 27);
    position: absolute;
    color: white;

}

#masikcim {
 
 text-align: center;
 height: 80px;
}


#harom {
    text-align: left;
}

 #negy {

     float: left;
     position: relative;
 }

 p {
     width: 1000px;
 }

 #bal {
     text-align: left;
 }

 #kozepre {
     text-align: center;
     width: 1000px;
 }

 .hatter {
     background-color: #999999;
 }